<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <a target="_blank" href="https://icons8.com/icon/MIM2MNFiPp2T/thumbs-up"></a><a target="_blank" href="https://icons8.com"></a>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <title>Squawker</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>

</head>

<body>

    <div class="tabs">
        <button class="tablinks" onclick="">Profile</button>
        <button class="tablinks" onclick="">Feed</button>
    </div>
      
    <header>
        <h1 class="title">Squawker <img id="pelican" src="favicon.ico"></h1>
    </header>
    <div class="hashtag">

    </div>
    <main class="root-container">
        <form id="form">
            <textarea name="tweet-text" rows="10" cols="70" placeholder="Sqweek here..."></textarea><br />
            <span class="submit">
                <button>Post</button>
            </span>
        </form>
    
        <section class="tweets">
            <ul class="tweets-list">
                <li class="tweet-item">
                    <span class="avatar">J</span>
                    <div class="tweet-details">
                        <strong class="author">John Doe</strong>
                        <p class="tweet-text">The most fake tweet</p>
                        <small class="timestamp">11.00am</small>
                        <span class="thumbs">
                            <button type="submit">
                                <img src="thumbs-up.png">
                            </button>
                            <button type="submit">
                                <img src="thumbs-down.png">
                            </button>
                        </span>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    <script src="/js/index.js">
        
    </script>
    <!-- <script>
        const ws = new WebSocket("ws://localhost:4000");

        ws.addEventListener("open", () => {
            console.log("We are connected!");
        });
    </script> -->
</body>

</html>