<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css" />
    <link rel="icon" type="image/png" href="./favicon.png" />
    <title>Squawk</title>
</head>

<body>
    <header>
        <h1 class="title">Squawk</h1>
    </header>
    <main class="root-container">
        <form id="form">
            <textarea name="tweet-text" rows="10" cols="70" placeholder="Sqweek here..."></textarea><br />
            <span class="submit">
                <button>Post</button>
            </span>
        </form>
        <section class="tweets">
            <ul class="tweets-list">
                
            </ul>
        </section>
    </main>
    <script src="/js/index.js"></script>
</body>

</html>