<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

    <title>Squawk</title>
</head>

<body>
    <header>
        <h1 class="title">Squawk away...</h1>
    </header>
    <main class="root-container">
        <form>
            <textarea rows="10" cols="70" placeholder="Squawk here"></textarea><br />
            <span class="submit">
                <button>Post</button>
            </span>
        </form>
        <section class="tweets">
            <ul class="tweets-list">
                <li class="tweet-item">
                    <span class="avatar">A</span>
                    <div class="tweet-details">
                        <strong class="author">Anonymous</strong>
                        <p class="tweet-text">The most fake tweet</p>
                        <small class="timestamp">11.00am</small>
                    </div>
                </li>
                <li class="tweet-item">
                    <span class="avatar">A</span>
                    <div class="tweet-details">
                        <strong class="author">Anonymous</strong>
                        <p class="tweet-text">I love soccer</p>
                        <small class="timestamp">11.00am</small>
                    </div>
                </li>
                <li class="tweet-item">
                    <span class="avatar">A</span>
                    <div class="tweet-details">
                        <strong class="author">Anonymous</strong>
                        <p class="tweet-text">I love basketball</p>
                        <small class="timestamp">11.00am</small>
                    </div>
                </li>
            </ul>
        </section>
    </main>



    
    
    
</body>

</html>