<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="favicon.ico"/>
        <title>Squawker</title>
        <link rel="stylesheet" href="styles.css" />       
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body id="background">
         <!-- Signup Form -->
        <section class="container forms">
            <div class="form signup">
                <div class="form-content">
                    <header>Sign up</header>
                    <form action="#">
                        <div class="field input-field">
                            <input type="firstname" placeholder="First name" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="lastname" placeholder="Last name" class="input">
                        </div>

                        <div class="field input-field">
                            <input type="birthdate" placeholder="Birthday" class="date">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password">
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <button onclick="popUp()">Signup</button>
                            
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                    </div>
                </div>

                


            

                

            </div>
        </section>
    </div>

    
            

  

        <!-- JavaScript -->
        <script src="/js/index.js"></script>
        <!-- <script src="/js/username.mjs"></script> -->
        <!-- <script type = "module" src="username.js"></script> -->


    </body>
</html>
